/* Indicacao de fontes, estilos e reset*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-size: 10px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-weight: 900;
}

h3,
.highlight,
.tooltip {
  font-weight: bold;
}

.text-resource {
  font-weight: 600;
}

.text-body,
.legend {
  font-weight: 500;
}

/* Header */
header {
  height: 100vh;
}

.blue-header {
  background-color: #4070a7;
  height: 90%;
  width: 100%;
}

#orb-top-header {
  margin-top: -20%;
  left: -8%;
  position: absolute;
  width: 30%;
}

.grey-header {
  background-color: #484e52;
  height: 50%;
  width: 100%;
  padding-bottom: 50%;
}

.title-header {
  position: relative;
  float: left;
  margin-top: 20%;
  z-index: 5;
}

.title-header h2 {
  font-size: 3.7em;
  color: white;
  margin-bottom: 1.5%;
}

.lorem-top {
  font-size: 6.2em;
  color: white;
  z-index: 3;
}

.dolor-top {
  font-size: 10em;
  color: #4070a7;
  -webkit-text-stroke: #0ebecc;
  -webkit-text-stroke-width: 2px;
  margin-top: -20px;
}

#photo-top {
  width: 47%;
  right: 10%;
  z-index: 1;
  margin-top: 5%;
  position: absolute;
}

#orange-top-header {
  position: absolute;
  top: 75%;
  left: 10%;
  width: 20%;
}

#orange-end-header {
  position: relative;
  right: -70%;
  margin-top: 2.5%;
  width: 25%;
  z-index: 5;
}

.description-top {
  position: relative;
  margin-top: 30%;
}

.description-top h2 {
  padding-right: 5%;
  color: white;
  font-size: 5.5em;
}

.description-top .text-resource {
  font-size: 2em;
  color: white;
  margin-top: 2%;
  text-align: left;
  width: 100%;
}

/* Main section */
section {
  margin-top: 50%;
}

.section-title {
  position: relative;
  top: 8%;
  padding-bottom: 8%;
}

.section-title h3 {
  width: 40%;
  color: #4070a7;
  font-size: 4.7em;
  position: relative;
  float: left;
}

.section-title p {
  color: #484e52;
  font-size: 2em;
  position: relative;
  width: 50%;
  text-align: justify;
  line-height: 26px;
  float: right;
}

.section-title p a {
  color: #484e52;
  text-decoration: none;
  background: #ebbb82;
  padding: 3px 10px 3px 10px;
  border-radius: 10px;
}

#qtip-0 {
  background-color: #ebbb82;
  color: #484e52;
  font-size: 2em;
  line-height: 1.2;
  border-radius: 16px;
  border: none;
}

.qtip-tip canvas {
  display: none;
}

.qtip-close ui-icon {
  background-color: red;
}

.highlight-div {
  color: white;
  position: relative;
  border-radius: 30px;
  background-color: #4070a7;
  margin-bottom: 15%;
  margin-top: 20%;
  padding: 50px 0 50px 0;
}

.highlight-div p {
  margin: 0 auto;
  width: 70%;
  line-height: 34px;
  font-size: 25px;
}

.side-image h3 {
  font-size: 4.7em;
  color: #0ebecc;
  position: relative;
  float: left;
  width: 50%;
}

.side-image p {
  font-size: 2em;
  text-align: left;
  width: 55%;
  position: relative;
  color: #123e6a;
  padding-top: 15%;
}

.side-image img {
  float: right;
  width: 40%;
  border-radius: 30px;
}

.bottom-section {
  position: relative;
  top: 30%;
}

.bottom-section h3 {
  color: #0ebecc;
  font-size: 4.7em;
  position: relative;
  margin-bottom: 1%;
}

.bottom-section p {
  color: #123e6a;
  text-align: justify;
  font-size: 2em;
  margin: 0 auto;
  margin-top: 5%;
}

.bottom-section img {
  position: relative;
  margin-top: 5%;
  filter: drop-shadow(20px 20px 0px #b9d8e5);
  padding: 0 20px 20px 0;
  width: 100%;
}

.bottom-section .legend {
  font-size: 1.6em;
  position: relative;
  margin-top: 7.5%;
  color: #484e52;
}

/* Accordion div */
.accordion-div {
  background-color: #4070a7;
}

.title-accordion {
  color: white;
  font-size: 2em;
  position: relative;
  top: 15%;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.accordion {
  margin: 0 auto;
}

.accordion-title {
  background-color: white;
  padding: 15px;
  margin: 20px 0 10px 0;
  color: #e37a00;
  font-weight: bold;
  border-radius: 16px;
  font-size: 2em;
}

.accordion-content {
  background-color: #ebbb82;
  padding: 50px 20px 60px 20px;
  margin: 20px 0 10px 0;
  border-radius: 16px;
  color: #484e52;
  font-weight: 600;
}

.accordion-content p {
  width: 90%;
}

.accordion-item img {
  position: absolute;
  right: 15%;
}

.accordion-item .accordion-title:hover {
  background-color: rgba(255, 255, 255, 0.651);
}

.accordion-item img:hover {
  filter: invert(52%) sepia(92%) saturate(3153%) hue-rotate(11deg) brightness(100%) contrast(101%);
}

.accordion-content img {
  position: relative;
  right: -94%;
  margin-top: -7%;
}

.accordion-content img:hover {
  cursor: pointer;
}

/* Globe Div */
.globe-div {
  margin: 5% 0 5% 0;
}

.description-globe {
  width: 80%;
  position: relative;
}

.globe-div h2 {
  color: #4070a7;
  font-size: 6.7em;
  margin-bottom: 4%;
}

.globe-div p {
  color: #484e52;
  font-size: 2em;
  text-align: left;
}

.globe-div img {
  position: absolute;
  width: 31%;
  right: -25%;
  margin-top: -30%;
}

/* Slider Icons Div*/
.slider-icons {
  background-color: #0ebecc;
  padding: 100px 0 100px 0;
}

.slider-icons .content-1024 {
  height: 80vh;
}

.slider-icons .slideshow-content {
  width: 100%;
  max-width: 318px;
  padding: 20px 60px 20px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-size: contain;
  margin: 0 auto;
  height: 337px;
  background: url(/assets/images/bkg/slideshow-icons-slide-item-bkg.svg) center no-repeat;
  color: white;
}

.slideshow-icons .slideshow-prev {
  background: url(/assets/images/ico/ico-slideshow-icons-arrow-prev.svg) center no-repeat;
}

.slideshow-icons .slideshow-next {
  background: url(/assets/images/ico/ico-slideshow-icons-arrow-next.svg) center no-repeat;
}

.slideshow-icons .slideshow-item .slideshow-ico {
  display: block;
  margin-bottom: 15px;
}

.slideshow-icons .slideshow-item p {
  color: #ffffff;
  font-weight: 600;
}

.slideshow-icons .slick-arrow {
  width: 76px;
  height: 76px;
  color: transparent;
  transition: opacity 300ms;
  font-size: 0em;
  border-radius: 13px;
}

.slideshow-icons .slick-arrow:hover {
  opacity: 0.6;
}

.slideshow-icons .slideshow-nav {
  position: absolute;
  bottom: -230px;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}

.slideshow-icons .slick-arrow.slick-disabled {
  opacity: 0.1;
  pointer-events: none;
}

.slideshow-icons .slideshow-nav-pagination span {
  font-size: 2.5em;
  line-height: 33px;
  color: #ffffff;
  font-weight: bold;
}

/* Inter Slides */
.inter-slides {
  padding: 5% 0 5% 0;
  background-color: #ebbb82;
  display: flex;
  align-items: center;
}

.inter-slides p {
  margin: 0 auto;
  font-size: 2em;
  text-align: justify;
  color: #484e52;
}

/* Image Slider */
.slider-images {
  background-color: hsl(184, 87%, 43%);
  color: white;
}

.slider-images p {
  font-size: 2em;
  margin: 0 auto;
  text-align: justify;
  padding: 5% 0 5% 0;
}

.slider-images .slideshow .slideshow-item {
  margin: 0 auto;
  filter: drop-shadow(20px 20px #b9d8e5);
  padding-right: 0.5%;
}

.slider-images .slideshow-item {
  border-radius: 16px;
  padding-bottom: 50px;
}

.slider-images .slideshow-content img {
  border-top-right-radius: 16px;
}

.slideshow-caption {
  background-color: #4070a7;
  height: 150px;
  font-weight: bold;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.slideshow-nav-pagination {
  margin: 0 auto;
}

.slideshow-nav {
  display: flex;
  margin: 0 auto;
  width: 40%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  font-size: 2.5em;
}

.slider-images .slideshow-prev {
  background: url(/assets/images/ico/ico-slideshow-arrow-prev.svg) no-repeat;
  height: 80px;
  width: 80px;
  color: rgba(255, 255, 255, 0);
}

.slider-images .slideshow-next {
  background: url(/assets/images/ico/ico-slideshow-arrow-next.svg) no-repeat;
  height: 80px;
  width: 80px;
  color: rgba(255, 255, 255, 0);
}

.slider-images .slideshow-caption p {
  margin-left: 5%;
}

.slider-images .slick-arrow:hover {
  opacity: 0.6;
}

.slider-images .slick-arrow.slick-disabled {
  opacity: 1;
  pointer-events: none;
}

/* After Slides */
.after-slides p {
  margin: 0 auto;
  font-size: 2em;
  text-align: justify;
  color: #484e52;
  padding: 25px 0 25px 0;
}

.after-slides img {
  width: 20%;
  position: relative;
}

#top-orb-after {
  margin-top: -17.5%;
  left: 10%;
}

#bottom-orb-after {
  right: -70%;
  margin-bottom: -17.5%;
  z-index: 5;
}

/* Carousel */
.carousel {
  background-color: #0ebecc;
  padding-bottom: 10%;
}

.carousel-side-image {
  width: 45%;
}

.carousel img {
  display: block;
  width: 100%;
  max-width: 450px;
  margin-top: -30%;
  z-index: 95;
}

#img-carousel {
  filter: drop-shadow(20px 20px #b9d8e5);
}

.carousel .slideshow-content {
  width: 50%;
  text-align: center;
  color: white;
  position: relative;
  left: calc(10% + 475px);
  margin-top: 20%;
}

.carousel p {
  width: 70%;
  font-size: 2em;
}

.carousel .slick-arrow {
  width: 76px;
  height: 76px;
  color: transparent;
  transition: opacity 300ms;
  font-size: 0em;
  border-radius: 13px;
}

.carousel .slick-arrow:hover {
  opacity: 0.6;
}

.carousel .slideshow-prev {
  background: url(/assets/images/ico/ico-slideshow-icons-arrow-prev.svg) center no-repeat;
}

.carousel .slideshow-next {
  background: url(/assets/images/ico/ico-slideshow-icons-arrow-next.svg) center no-repeat;
}

.carousel .slideshow-nav {
  position: absolute;
  bottom: 100px;
  left: calc(50% + 250px);
  transform: translateX(-50%);
  width: 280px;
  display: flex;
  align-items: center;
  font-size: 1em;
  justify-content: space-between;
}

.carousel .slick-arrow.slick-disabled {
  opacity: 0.1;
  pointer-events: none;
}

.carousel .slideshow-nav-pagination span {
  font-size: 2.5em;
  line-height: 33px;
  color: #ffffff;
  font-weight: bold;
}

/* Vertical Tabs */
.vertical-tabs {
  background-color: #b9d8e5;
}

.tab-vertical {
  position: relative;
  top: 12.5%;
  padding-right: 2%;
}

.tab-menu-item {
  background-color: white;
  width: 90%;
  font-size: 2em;
  font-weight: 700;
  margin-top: 5%;
  border-radius: 16px;
}

.is-active {
  background: #0ebecc;
}

.is-active .tab-menu-link {
  color: white;
}

.tab-menu-item a:focus {
  color: white;
  transition: 0.5s;
}

.tab-menu-item a {
  text-decoration: none;
  color: #0ebecc;
  padding: 25px 10px 25px 50px;
}

.tab-content-item {
  color: white;
  background-color: #4070a7;
  box-shadow: 20px 20px 0px #0ebecc;
  height: 50vh;
  border-radius: 16px;
}

.tab-content-item p {
  width: 80%;
  padding: 0px 0px 0px 10px;
  font-weight: 700;
  margin-left: 5%;
  padding-top: 5%;
  font-size: 2em;
}

.vertical-tabs img {
  position: absolute;
  left: 22%;
  margin-top: -5%;
  cursor: pointer;
  width: 2%;
}

.tab-vertical .tab-content-item {
  height: 50vh;
}

/* Inter Tabs */
.inter-tabs {
  background-color: white;
  padding: 50px 0 50px 0;
}

.inter-tabs img {
  position: relative;
  float: left;
  margin-top: 1.5%;
}

.inter-tabs p {
  width: 70%;
  text-align: center;
  font-size: 2em;
  color: #484e52;
  position: relative;
  float: right;
  margin-top: 7.5%;
  margin-bottom: 10%;
}

/* Horizontal Tabs */
.horizontal-tabs {
  background-color: #b9d8e5;
  padding-bottom: 10%;
}

.horizontal-tabs img {
  position: relative;
  left: 80%;
  top: -75%;
  cursor: pointer;
}

.horizontal-tabs .tab-horizontal {
  margin: auto;
}

.horizontal-tabs .tab-menu-list {
  min-width: 80%;
  margin: auto auto;
  display: flex;
  justify-content: space-between;
}

.horizontal-tabs .tab-menu-item {
  width: 32%;
  height: 80px;
}

.horizontal-tabs .tab-content-item {
  margin-top: 20px;
  padding-bottom: 250px;
  box-shadow: 20px 20px #0ebecc;
}

.horizontal-tabs .tab-content-hor {
  padding: 0 2% 2% 2%;
}

.horizontal-tabs nav {
  width: 96%;
  margin: 0 auto;
}

.horizontal-tabs ul {
  display: flex;
}

.horizontal-tabs .tab-menu-item a {
  text-decoration: none;
  color: #0ebecc;
  padding: 25px 10px 35px 50px;
}

.horizontal-tabs .tab-menu-item a:focus {
  color: white;
  transition: 0.5s;
}

.horizontal-tabs .is-active .tab-menu-link {
  color: white;
}

/* Text Area */
.text-area {
  background-color: #4070a7;
}

.text-area p {
  color: white;
  font-size: 2em;
  margin: 0 auto;
  padding-top: 5%;
  position: relative;
  width: 80%;
}

.text-input {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  padding-right: 2%;
}

.text-area textarea {
  resize: none;
  width: 100%;
  height: 20vh;
  margin-top: 3%;
  outline: none;
  border: none;
  background-color: white;
  color: #4070a7;
  height: 220px;
  border-radius: 30px;
  box-shadow: 20px 20px 0px #0ebecc;
  font-size: 2em;
  padding: 20px 20px 0px 20px;
}

.text-area textarea::-webkit-input-placeholder {
  color: #4070a7;
  font-weight: bold;
}

.text-area .charNum {
  position: relative;
  right: -95%;
  width: 25px;
  margin-top: 3px;
  color: white;
}

.text-area .question {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}

.text-area button {
  cursor: pointer;
  font-weight: 900;
  font-size: 2em;
  height: 75px;
  width: 200px;
  outline: none;
  background-color: #b9d8e5;
  color: #4070a7;
  border-radius: 10px;
  border: none;
  float: right;
  position: relative;
  margin-top: 5%;
  margin-bottom: 10%;
}

.text-area .btn-edit {
  z-index: 5;
}

.text-area .question-feedback p {
  position: relative;
  right: 10%;
}

.text-area button:hover {
  background-color: #ecffff;
}

/* Activities */
.activities {
  background-color: #ebbb82;
  padding-bottom: 10%;
}

label {
  cursor: pointer;
}

#label-1 {
  color: #4070a7;
}

.activities img {
  float: left;
  position: relative;
  margin-top: 7.5%;
}

.activitie-text {
  float: right;
  margin-top: 7.5%;
  width: 50%;
  color: #484e52;
}

.activities h2 {
  font-size: 4.7em;
  color: #4070a7;
  margin-bottom: 2%;
}

.activities p {
  font-size: 2em;
  color: #484e52;
  margin-bottom: 0%;
}

.activities button {
  height: 75px;
  width: 200px;
  outline: none;
  border: none;
  border-radius: 16px;
  background-color: #b9d8e5;
  font-size: 2em;
  font-weight: 700;
  color: #4070a7;
  cursor: pointer;
  float: right;
  position: relative;
  right: 0%;
  margin-top: 15%;
}

.activities button:hover {
  background-color: #afd0df;
}

.activities .question-content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.question label {
  margin-left: 40px;
  margin-top: -35px;
  font-size: 2em;
}

.question input {
  border: #4070a7 4px solid;
  outline: none;
  cursor: pointer;
  background-color: white;
  height: 35px;
  width: 35px;
  margin-top: 30px;
}

.question .question-feedback {
  margin-top: 80px;
}

/* After Activities */
.after-activities {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5%;
}

.after-activities img {
  margin-top: 2%;
  position: absolute;
  float: left;
  left: -15%;
}

.after-activities h2 {
  font-size: 4.7em;
  color: #4070a7;
  margin-top: 5%;
}

.after-activities p {
  font-size: 2em;
  color: #484e52;
  margin-top: 5%;
}

/* Flashcard */
.flashcard {
  background-color: #e37a00;
  padding-bottom: 10%;
}

.cards-div {
  overflow: hidden;
}

.card {
  height: 380px;
  margin-top: 30%;
  border-radius: 30px;
  box-shadow: 20px 20px #ebbb82;
  z-index: 0;
  width: 300px;
}

.card button {
  z-index: 5;
  color: white;
  background: #4070a7;
  height: 50px;
  width: 20%;
  left: 40%;
  border-radius: 10px;
  display: none;
}

.card-one button,
.card-two button,
.card-three button {
  z-index: 5;
  margin-top: -5%;
  color: white;
  background: #4070a7;
  height: 70px;
  width: 70px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  transform: rotate(180deg);
}

.flashcard button:hover {
  opacity: 0.6;
}

.card-one {
  width: 300px;
  margin: 0 auto;
}

.card-one button:focus,
.card-two button:focus,
.card-three button:focus {
  animation: rotate 0.4s ease-in forwards;
  animation-direction: alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: translateY(-400px) rotate(360deg);
  }
}

.card-one .card-back {
  background-color: #4070a7;
  color: white;
  text-align: center;
}

.card-one .card-back p {
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
}

.card-two {
  width: 300px;
  margin: 0 auto;
}

.card-two .card-back {
  background-color: #4070a7;
  color: white;
  text-align: center;
}

.card-two .card-back p {
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
}

.card-three {
  width: 300px;
  margin: 0 auto;
}

.card-three .card-back {
  background-color: #4070a7;
  color: white;
  text-align: center;
}

.card-three .card-back p {
  width: 80%;
  margin: 0 auto;
  font-size: 2em;
}

#card-one-img,
#card-three-img {
  height: 280px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card .card-front {
  color: #4070a7;
  font-size: 1.2em;
  text-align: center;
}

.card-one .card-front h3,
.card-three .card-front h3 {
  position: relative;
  top: 4%;
}

/* Dropdown Div */
.dropdown-div {
  background-color: #ebbb82;
  padding-bottom: 10%;
}

.dropdown-card {
  height: 350px;
  width: 350px;
  background-color: #0ebecc;
  color: white;
  font-size: 2.5em;
  font-weight: 900;
  box-shadow: 20px 20px 0px #b9d8e5;
  margin: auto;
  border-radius: 30px;
  position: relative;
  top: 20%;
}

.dropdown-div #lamp {
  padding-top: 20%;
}

.dropdown-div p {
  margin-top: 10%;
}

.dropdown-div #arrow {
  position: relative;
  bottom: -5%;
  display: block;
}

.dropdown-div #arrow:hover {
  opacity: 0.8;
}

.dropdown-text {
  display: none;
  width: 80%;
  margin: 0 auto;
  color: #4070a7;
  background-color: white;
  border-radius: 16px;
  text-align: center;
  font-size: 1.5em;
  height: 20%;
}

.dropdown-text p {
  width: 60%;
  margin: 0 auto;
  position: relative;
  padding: 4% 0 4% 0;
}

/* Podcast */
.podcast {
  background-color: #b9d8e5;
  text-align: center;
  padding: 10% 0 10% 0;
}

.text-area-podcast::-webkit-scrollbar {
  background-color: #ebbb82;
  width: 20px;
}

.text-area-podcast::-webkit-scrollbar-thumb {
  background-color: #4070a7;
  border: 2px solid #ebbb82;
}

.text-area-podcast::-webkit-scrollbar-track {
  background-color: #ebbb82;
}

.text-area-podcast::-webkit-scrollbar-thumb:hover {
  background-color: #4070a7ad;
}

.podcast-icon-div {
  position: relative;
  background-color: #4070a7;
  color: white;
  font-size: 2em;
  height: 280px;
  width: 280px;
  border-radius: 30px;
  box-shadow: 20px 20px 0px #ebbb82;
}

.podcast-icon-div img {
  margin-top: 15%;
}

.podcast-icon-div h2 {
  margin-top: 5%;
}

.description-podcast {
  width: 90%;
  color: #484e52;
  margin-top: 10%;
  position: relative;
  font-size: 1.2em;
  text-align: left;
}

.rightside-podcast {
  width: 500px;
  margin-top: 5%;
}

.text-area-podcast {
  height: 300px;
  width: 500px;
  resize: none;
  font-size: 1.2em;
  color: #484e52;
  text-align: justify;
  overflow-y: scroll;
  background-color: white;
  margin-top: 10%;
}

.text-area-podcast p {
  margin: 10px 20px 10px 20px;
}

.plyr__controls {
  background: transparent !important;
  border: 2px solid #484e52;
}

.plyr__controls__item {
  color: #4070a7;
}

.plyr--full-ui input[type="range"] {
  color: #4070a7;
}

/* Video Div */
.video-div .plyr__controls {
  border: none;
}

.video-div img {
  position: absolute;
  left: 90%;
  margin-top: -7.5%;
}

.video-div h2 {
  color: #4070a7;
  font-weight: 900;
  font-size: 6.5em;
}

.video-div p {
  font-size: 2em;
  color: #484e52;
}

.video-div .plyr__controls {
  background: #4070a7 !important;
  padding: 0;
}

.video-div .plyr__controls__item {
  color: #ebbb82;
}

.video-div .plyr--full-ui input[type="range"] {
  color: #ebbb82;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4070a7;
}

footer h3 {
  font-weight: bold;
  color: white;
  margin: 10% 0 5% 0;
}

footer img {
  padding-bottom: 8%;
}