@media only screen and (max-width: 1023px),
(max-width: 1024px) and (orientation: portrait) {
    body {
        font-size: 6px;
    }

    .blue-header {
        height: 100%;
        overflow: hidden;
    }

    .description-top {
        margin-top: 15%;
    }

    .description-top h2 {
        width: 80%;
        margin-left: 10%;
    }

    .description-top p {
        width: 80% !important;
        margin: 0 auto;
    }

    .title-header {
        margin-top: 120%;
        margin-left: 10%;
        font-size: 70%;
    }

    #logo-mobile {
        z-index: 99;
        position: absolute;
        right: 20%;
        top: 45%;
        width: 30%;
    }

    section {
        margin-top: 75%;
    }

    #photo-top {
        width: 90%;
        left: 5%;
    }

    .video-div img {
        display: none;
    }

    .dolor-top {
        padding: 15px 0 0px 0;
    }

    #orb-top-header {
        z-index: 99;
        width: 100%;
        left: -45%;
        top: -25%;
    }

    #orb-mobile {
        position: relative;
        right: -70%;
        margin-top: -40%;
    }

    .section-title h3 {
        width: 80%;
        margin: 0 auto;
        margin-left: 10%;
    }

    .section-title p {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        line-height: 1.6;
        float: left;
        margin-left: 10%;
    }

    .highlight-div {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    .highlight {
        width: 100%;
        margin: 0 auto;
    }

    .highlight p {
        margin: 0 auto;
        text-align: center;
        font-size: 2em;
        padding: 5% 0 5% 0;
        margin-bottom: 10%;
        margin-top: 90%;
    }


    .side-image h3 {
        margin-top: 10%;
        width: 80%;
        margin-left: 10%;
    }

    .side-image p {
        width: 80%;
        padding-top: 40%;
        margin-left: 10%;
    }





    .bottom-section img {
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        filter: drop-shadow(10px 10px 0px #b9d8e5);
    }

    .bottom-section h3 {
        margin-left: 10%;
    }

    .bottom-section p {
        width: 80%;
        margin-left: 10%;
    }

    .bottom-section .legend {
        margin-top: 10%;
        margin-bottom: -15%;
    }



    .title-accordion {
        width: 80%;
        margin: 0 auto;
    }

    .accordion {
        width: 80%;
        margin: 0 auto;
    }

    .accordion-title img {
        width: 10%;
    }

    .accordion-content img {
        width: 15%;
        left: 85%;
        margin-top: -10%;
    }

    .description-globe {
        width: 80%;
        margin: 0 auto;
    }

    .slider-icons {
        font-size: 2em;
    }

    .inter-slides p {
        width: 80%;
        margin: 0 auto;
    }

    .slider-images>.content-1024>p {
        width: 80%;
        margin: 0 auto;
    }

    .slider-images .slideshow {
        width: 92%;
        margin: 0 auto;
    }

    .slider-images .slideshow-nav {
        width: 60%;
    }

    .slideshow-caption p {
        width: 80%;
        margin: 0 auto;
        font-size: 1.5em;
    }

    .slider-images .slideshow .slideshow-item {
        filter: none;
    }

    .slider-images .slideshow-prev {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;
    }

    .slider-images .slideshow-next {
        width: 40px;
        height: 40px;
        background-position: center;
        background-size: cover;
    }

    .after-slides>.content-1024>p {
        width: 80%;
        margin: 0 auto;
    }


    .carousel {
        padding-bottom: 30%;
    }

    .carousel img {
        width: 80%;
        margin-left: 10%;
        margin-top: -80%;
        display: none;
    }

    .carousel .slideshow-content {
        float: left;
        left: 10%;
        width: 80%;
    }

    .carousel p {
        width: 100%;
        font-size: 2.2em;
    }

    .carousel .slideshow-nav {
        position: absolute;
        bottom: -100px;
        left: calc(50%);
        transform: translateX(-50%);
        width: 280px;
        display: flex;
        align-items: center;
        font-size: 1em;
        justify-content: space-between;
    }




    .vertical-tabs .tab-menu,
    .vertical-tabs .tab-menu-item {
        width: 50%;
        margin-left: 5%;
        text-align: center;
        padding-left: 0;
    }

    .vertical-tabs .tab-content {
        width: 60%;
        float: right;
        position: relative;
        margin-top: -92% !important;
        right: 5%;
    }

    .vertical-tabs .tab-content p {
        width: 100%;
        margin-left: 0;
        padding-right: 5%;
    }

    .vertical-tabs .tab-menu-item {
        margin-top: 10% !important;
    }

    .vertical-tabs img {
        display: none;
    }


    .vertical-tabs .tab-menu-item a {
        width: 100%;
        padding: 25px 0px 25px 0px;
    }

    .inter-tabs img {
        position: absolute;
    }

    .inter-tabs p {
        float: none;
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }


    .horizontal-tabs .tab-horizontal {
        width: 100%;
        padding: 0 10% 10% 10%;
    }

    .horizontal-tabs img {
        display: none;
    }

    .horizontal-tabs .tab-menu-item a {
        padding: 30px 0px 0px 10px !important;
    }

    .tab-horizontal li {
        text-align: left;
    }

    .tab-horizontal .tab-content-item p {
        width: 80%;
    }




    .text-input textarea {
        height: 200px;
        padding-right: 5%;
    }

    .text-area button {
        margin-top: 10%;
        width: 80px;
        height: 40px;
    }


    .activities img {
        width: 80%;
        margin: 10% 0 0 10%;
    }

    .activities h2 {
        font-size: 6.5em;
        padding-bottom: 5%;
    }

    .activitie-text {
        float: left;
        margin-left: 10%;
        width: 80%;
    }

    .options {
        width: 120%;
        padding-bottom: 30%;
    }

    .activities button {
        height: 40px;
        width: 100px;
        margin-top: 15%;
    }


    .after-activities {
        width: 80%;
        text-align: justify;
    }


    .dropdown-card {
        width: 280px;
        height: 280px;
        margin: 0 auto;
    }


    .dropdown-card a img {
        margin-top: -7.5%;
    }

    .dropdown-div {
        padding-bottom: 20%;
    }

    .dropdown-text {
        height: 270px;
    }

    .flashcard .slideshow-content {
        height: 100vh;
    }

    .flashcard .slideshow-prev {
        background: url(/assets/images/ico/ico-slideshow-icons-arrow-prev.svg) center no-repeat;
        height: 80px;
        width: 80px;
        position: relative;
        float: left;
    }

    .flashcard .slideshow-next {
        background: url(/assets/images/ico/ico-slideshow-icons-arrow-next.svg) center no-repeat;
        height: 80px;
        width: 80px;
        position: relative;
        float: right;
    }

    .flashcard .slideshow-nav {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 3em;
    }

    .flashcard .slideshow-nav-pagination {
        position: absolute;
        left: 45%;
        margin-top: 10%;
        color: white;
    }

    .podcast-icon-div {
        margin: 0 auto;
        width: 250px;
        height: 250px;
        text-align: center;
    }

    .description-podcast {
        margin: 30% 0 10% 10%;
    }

    .rightside-podcast {
        width: 80%;
        margin-left: 10%;
    }

    .plyr__controls {

        width: 100%;
    }

    .text-area-podcast {
        width: 100%;
    }

    .video-div h2 {
        margin: 0 auto;
        width: 80%;
    }

    .video-div p {
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }
}